@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

.mainContainer{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    overflow-y:hidden;
}

.mainContainer .leftCont{
    width: 30%;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.28);
    background: #FFF;   
    display: flex;
    flex-direction: column;
    margin-left: 252px;
}

.mainContainer .leftCont .searchCont{
    margin-top: -340px;
    margin-right: 30px;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left:45px;
    
}


.mainContainer .leftCont .searchCont ::placeholder{
    color: rgba(0, 0, 0, 0.57);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.mainContainer .leftCont .searchCont input[type=text]{
    width: 323px;
    height: 42px;
    padding:10px;
    background-color: #D9D9D9;
    border:1px solid rgba(255, 255, 255, 0.28);
    border-radius: 11px;
    margin-right: 20px;
 
}

.chatCont{
   display: flex;
   flex-direction: row;  
   width: 100%;
   height: 110px;
   justify-content: center;
   align-items: center;
   margin-top: 30px;
   margin-right: 20px;
}

.chatCont .profileCont{
    display: flex;
    justify-content: center;
    width: 50%;
    margin-left: 50px;
    
}

.chatCont .messageCont{
    text-align: center;
    width: 100%;
    flex-direction: column;
} 


.chatCont .messageCont .name{
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 5px;

}

.chatCont .messageCont .message{
    color: rgba(0, 0, 0, 0.62);
    font-family: Inter;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: 5px;
}

.chatCont .timeCont{
    display: flex;
    width: 80%;
    justify-content: center;
    color: rgba(0, 0, 0, 0.62);
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}


.mainContainer .rightCont{
    display: flex;
    flex-direction: column-reverse;
    width: 70%;
    height: 100%;
    
}

.mainContainer .rightCont .inputCont{

        display: flex;
        flex-direction: row;  
        width: 100%;
        height: auto;
        justify-content: center;
        align-items: flex-end;
        padding-top: 20px;
        padding-bottom: 20px;     
}


.mainContainer .rightCont .inputCont ::placeholder{
    color: rgba(0, 0, 0, 0.57);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.mainContainer .rightCont .inputCont input[type=text]{
    width: 680px;
    height: 49px;
    border-radius: 9px;
    border: 1px solid rgba(0, 0, 0, 0.26);
    background: #FFF;
}

.mainContainer .rightCont .inputCont .clipButton{
    margin-right: 15px;
    margin-bottom: 10px;
}
.mainContainer .rightCont .inputCont .sendButton{
    margin-left: 15px;
    margin-bottom: 8px;
}
.mainContainer .rightCont .convoCont{
    display: flex;
    flex-direction: row;
    margin-left: 480px;
    
}

.mainContainer .rightCont .convoCont .sampleMessageCont{
    position: relative;
    justify-content: center;
    align-items: center;
    width: 70%; 
    height: auto;
    border-radius: 11px;
    background-color: #699BF7;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.mainContainer .rightCont .convoCont .sampleMessageCont .sampleMess{
   margin-left: 22px;
   margin-top:  10px;
}

.mainContainer .rightCont .convoCont .sampleMessageCont{
   
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-right: 10px;
    margin-top: 8px;
}

.mainContainer .rightCont .convoCont .chat-profile-Container{
    width: 50.808px;
    height: 51.505px;
}

.mainContainer .rightCont .client-chat-Container{
    display: flex;
    flex-direction: row;
    margin-left: 75px;
}



.mainContainer .rightCont .client-chat-Container img{
    width: 61px;
    height: 61px;
    margin-right:10px;
}
.mainContainer .rightCont .client-chat-Container .clientMessageCont{
    position: relative;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: auto;
    border-radius: 11px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-top: 8px;

}

.mainContainer .rightCont .client-chat-Container .clientMessageCont p{
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-right: 10px;
    margin-left: 22px;
    margin-top: 10px;



}





