body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-inter: Inter;

  /* font sizes */
  --font-size-xl: 20px;
  --font-size-mini: 15px;
  --font-size-5xl: 24px;

  /* Colors */
  --color-white: #fff;
  --color-gray-100: #fafafa;
  --color-gray-200: #7d7b7b;
  --color-darkgray: #9f9f9f;
  --color-lightgray-100: #d2d2d2;
  --color-dimgray: #686868;
  --color-black: #000;

  /* Gaps */
  --gap-3xs: 10px;

  /* border radiuses */
  --br-3xs: 10px;
  --br-8xs: 5px;
}
