.group-child37,
.orders-preparing-admin-child {
  position: absolute;
  border-radius: var(--br-8xs);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.orders-preparing-admin-child {
  height: calc(100% - 288px);
  width: 79.44%;
  top: 291px;
  right: 0.69%;
  bottom: -3px;
  left: 19.86%;
  background-color: var(--color-white);
}
.group-child37 {
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  background-color: var(--color-gray-100);
  border: 1px solid var(--color-silver);
  box-sizing: border-box;
  height: 103px;
}
.b16,
.order-000044 {
  position: absolute;
  display: inline-block;
}
.order-000044 {
  width: 39.37%;
  top: 37px;
  left: 4.89%;
  -webkit-text-stroke: 1px #c8c5c5;
}
.b16 {
  height: 22.33%;
  width: 6.6%;
  top: 42.72%;
  left: 46.7%;
  color: var(--color-gray-600);
}
.group-child38 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-gray-700);
}
.deliver4 {
  position: absolute;
  width: 64.29%;
  top: 12px;
  left: 20%;
  display: inline-block;
}
.rectangle-parent37 {
  position: absolute;
  height: calc(100% - 63px);
  width: 7.37%;
  top: 30px;
  right: 0.86%;
  bottom: 33px;
  left: 91.77%;
  text-align: center;
  font-size: var(--font-size-3xs);
  color: var(--color-white);
}
.group-child39 {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-whitesmoke-100);
  border: 1px solid var(--color-red-100);
  box-sizing: border-box;
  height: 40px;
}
.remove8 {
  position: absolute;
  width: 71.43%;
  top: 12px;
  left: 14.29%;
  display: inline-block;
}
.rectangle-parent38 {
  position: absolute;
  width: 7.37%;
  top: 30px;
  right: 9.38%;
  left: 83.25%;
  height: 40px;
  text-align: center;
  font-size: var(--font-size-3xs);
  color: var(--color-red-100);
}
.rectangle-parent36 {
  position: absolute;
  width: 72.57%;
  top: 691px;
  right: 5.83%;
  left: 21.6%;
  height: 103px;
}
.b17,
.order-000034 {
  position: absolute;
  display: inline-block;
}
.b17 {
  height: 22.33%;
  width: 6.6%;
  top: 42.72%;
  left: 46.7%;
}
.order-000034 {
  width: 39.37%;
  top: 37px;
  left: 4.89%;
  color: var(--color-black);
  -webkit-text-stroke: 1px #c8c5c5;
}
.rectangle-parent40,
.rectangle-parent41 {
  position: absolute;
  width: 7.37%;
  top: 32px;
  text-align: center;
  font-size: var(--font-size-3xs);
}
.rectangle-parent40 {
  height: calc(100% - 63px);
  right: 0.86%;
  bottom: 31px;
  left: 91.77%;
  color: var(--color-white);
}
.rectangle-parent41 {
  right: 9.38%;
  left: 83.25%;
  height: 40px;
  color: var(--color-red-100);
}
.rectangle-parent39 {
  position: absolute;
  width: 72.57%;
  top: 568px;
  right: 5.83%;
  left: 21.6%;
  height: 103px;
  color: var(--color-gray-600);
}
.order-000024 {
  position: absolute;
  width: 39.37%;
  top: 37px;
  left: 4.89%;
  font-size: var(--font-size-5xl);
  text-align: left;
  display: inline-block;
  -webkit-text-stroke: 1px #c8c5c5;
}
.rectangle-parent43 {
  position: absolute;
  height: calc(100% - 63px);
  width: 7.37%;
  top: 32px;
  right: 0.86%;
  bottom: 31px;
  left: 91.77%;
  color: var(--color-white);
}
.rectangle-parent44 {
  position: absolute;
  width: 7.37%;
  top: 30px;
  right: 9.38%;
  left: 83.25%;
  height: 40px;
  color: var(--color-red-100);
}
.rectangle-parent42 {
  position: absolute;
  width: 72.57%;
  top: 445px;
  right: 5.83%;
  left: 21.6%;
  height: 103px;
  text-align: center;
  font-size: var(--font-size-3xs);
}
.group-child46 {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--color-gray-100);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-lightgray-400);
  box-sizing: border-box;
  height: 103px;
}
.rectangle-parent46 {
  position: absolute;
  height: calc(100% - 63px);
  width: 7.37%;
  top: 30px;
  right: 0.86%;
  bottom: 33px;
  left: 91.77%;
}
.b18,
.order-000014 {
  position: absolute;
  width: 39.37%;
  top: 37px;
  left: 4.89%;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
}
.b18 {
  height: 22.33%;
  width: 6.6%;
  top: 42.72%;
  left: 46.7%;
  color: var(--color-gray-600);
}
.rectangle-parent45 {
  position: absolute;
  width: 72.57%;
  top: 322px;
  right: 5.83%;
  left: 21.6%;
  height: 103px;
  cursor: pointer;
  text-align: center;
  font-size: var(--font-size-3xs);
  color: var(--color-white);
}
.b19,
.manage-orders4 {
  position: absolute;
  display: inline-block;
}
.b19 {
  height: 2.25%;
  width: 4.79%;
  top: 47.36%;
  left: 55.49%;
  color: var(--color-gray-600);
}
.manage-orders4 {
  width: 16.67%;
  top: 94px;
  left: 21.46%;
  font-size: var(--font-size-11xl);
}
.frame-child11,
.frame-child12 {
  position: absolute;
  border-radius: var(--br-8xs);
}
.frame-child11 {
  width: 100%;
  top: 1px;
  right: 0;
  left: 0;
  background-color: var(--color-gray-100);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  height: 79px;
}
.frame-child12 {
  width: 24.56%;
  top: 0;
  right: 52.11%;
  left: 23.33%;
  background-color: var(--color-yellowgreen);
  height: 80px;
}
.complete8,
.delivery4,
.new4,
.preparing4 {
  position: absolute;
  display: inline-block;
  height: 24px;
}
.complete8 {
  width: 12.74%;
  top: 32px;
  left: 82.32%;
  cursor: pointer;
}
.delivery4,
.new4,
.preparing4 {
  width: 13.19%;
  top: 31px;
  left: 30.51%;
}
.delivery4,
.new4 {
  width: 5.24%;
  top: 29px;
  left: 9.66%;
  cursor: pointer;
}
.delivery4 {
  width: 11.1%;
  top: 32px;
  left: 56.32%;
}
.rectangle-parent48 {
  position: absolute;
  width: 67.57%;
  top: 191px;
  right: 0.69%;
  left: 31.74%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  height: 80px;
  font-size: var(--font-size-lgi);
}
.orders-preparing-admin {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
