.orders-preparing-admin-child {
  position: absolute;
  top: 68px;
  left: 275px;
  background-color: var(--color-whitesmoke);
  width: 1165px;
  height: 959px;
}
.frame-child5,
.frame-child6 {
  position: absolute;
  border-radius: var(--br-8xs);
}
.frame-child5 {
  width: 100%;
  top: 1px;
  right: 0;
  left: 0;
  background-color: var(--color-gray-300);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  height: 91px;
}
.frame-child6 {
  width: 24.56%;
  top: 0;
  right: 52.1%;
  left: 23.34%;
  background-color: var(--color-lavender);
  height: 92px;
}
.complete1 {
  position: absolute;
  width: 10.46%;
  top: 32px;
  left: 82.3%;
  display: inline-block;
  height: 24px;
  cursor: pointer;
}
.frame-child7 {
  position: absolute;
  width: 0.09%;
  top: 1px;
  right: 23.58%;
  left: 76.33%;
  max-width: 100%;
  overflow: hidden;
  height: 61px;
}
.delivery1,
.new1,
.preparing1 {
  position: absolute;
  width: 13.19%;
  top: 31px;
  left: 30.51%;
  display: inline-block;
  height: 24px;
}
.delivery1,
.new1 {
  width: 5.32%;
  top: 34px;
  left: 9.66%;
  cursor: pointer;
}
.delivery1 {
  width: 9.26%;
  top: 32px;
  left: 56.29%;
}
.frame-child8,
.frame-child9 {
  position: absolute;
  width: 0.09%;
  top: 1px;
  max-width: 100%;
  overflow: hidden;
  height: 61px;
}
.frame-child8 {
  right: 75.78%;
  left: 24.13%;
  border-radius: var(--br-8xs);
}
.frame-child9 {
  right: 49.96%;
  left: 49.96%;
}
.manage-orders1,
.rectangle-parent3 {
  position: absolute;
  color: var(--color-black);
}
.rectangle-parent3 {
  width: 79.44%;
  top: 169px;
  right: 0.69%;
  left: 19.86%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  height: 92px;
}
.manage-orders1 {
  width: 18.89%;
  top: 94px;
  left: 21.46%;
  font-size: var(--font-size-17xl);
  display: inline-block;
}
.group-icon {
  position: absolute;
  height: 3.24%;
  width: 2.86%;
  top: 1.59%;
  right: 11.39%;
  bottom: 95.17%;
  left: 85.75%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-child6,
.orders-preparing-admin-item {
  position: absolute;
  width: 79.44%;
  top: 291px;
  right: 0.69%;
  left: 19.86%;
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  height: 736px;
}
.group-child6 {
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  background-color: var(--color-gray-300);
  border: 1px solid var(--color-silver);
  box-sizing: border-box;
  height: 103px;
}
.b5 {
  position: absolute;
  width: 7.37%;
  top: 37px;
  left: 46.6%;
  display: inline-block;
}
.group-child7 {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-whitesmoke-100);
  border: 1px solid var(--color-red-300);
  box-sizing: border-box;
  height: 40px;
}
.remove {
  position: absolute;
  width: 71.43%;
  top: 12px;
  left: 20%;
  display: inline-block;
}
.group-child8,
.rectangle-parent5 {
  position: absolute;
  width: 45.16%;
  top: 0;
  right: 54.84%;
  left: 0;
  height: 40px;
}
.group-child8 {
  width: 100%;
  right: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-gray-600);
}
.deliver {
  position: absolute;
  width: 64.29%;
  top: 12px;
  left: 20%;
  display: inline-block;
}
.group-parent,
.rectangle-parent6 {
  position: absolute;
  width: 45.16%;
  top: 0;
  right: 0;
  left: 54.84%;
  height: 40px;
  color: var(--color-white);
}
.group-parent {
  width: 14.83%;
  top: 32px;
  right: 1.72%;
  left: 83.44%;
  font-size: var(--font-size-xs);
  color: var(--color-red-300);
}
.order-000041 {
  position: absolute;
  width: 39.37%;
  top: 37px;
  left: 4.89%;
  color: var(--color-black);
  display: inline-block;
  -webkit-text-stroke: 1px #c8c5c5;
}
.group-child15,
.rectangle-parent10,
.rectangle-parent4,
.rectangle-parent7 {
  position: absolute;
  width: 72.57%;
  top: 691px;
  right: 5.83%;
  left: 21.6%;
  height: 103px;
}
.group-child15,
.rectangle-parent10,
.rectangle-parent7 {
  top: 568px;
}
.group-child15,
.rectangle-parent10 {
  top: 445px;
}
.group-child15 {
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--color-gray-300);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-lightgray-400);
  box-sizing: border-box;
}
.order-000011 {
  position: absolute;
  width: 39.37%;
  top: 37px;
  left: 4.89%;
  color: var(--color-black);
  display: inline-block;
}
.rectangle-parent13 {
  position: absolute;
  width: 72.57%;
  top: 322px;
  right: 5.83%;
  left: 21.6%;
  height: 103px;
  cursor: pointer;
}
.orders-preparing-admin {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-gray-500);
  font-family: var(--font-inter);
}
