.mdigraph-box {
  position: absolute;
  top: 601px;
  left: 27px;
  width: 33px;
  height: 24.48px;
  overflow: hidden;
}
.group-child,
.group-item,
.orders-list-admin-child {
  border-radius: var(--br-8xs);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.orders-list-admin-child {
  position: absolute;
  width: 28.96%;
  top: 298px;
  right: 51.25%;
  left: 19.79%;
  background-color: var(--color-gray-400);
  height: 726px;
}
.group-child,
.group-item {
  width: 100%;
  right: 0;
  left: 0;
  background-color: var(--color-gray-100);
  height: 103.67px;
}
.group-child {
  position: absolute;
  top: 359.33px;
}
.group-item {
  top: 239.55px;
}
.b,
.group-inner,
.group-item {
  position: absolute;
}
.b {
  height: 4.97%;
  width: 18.18%;
  top: 60.69%;
  left: 73.31%;
  display: inline-block;
}
.group-inner {
  width: 100%;
  top: 122px;
  right: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--color-gray-100);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  height: 103.67px;
}
.b1 {
  height: 4.97%;
  width: 18.18%;
  top: 37.8%;
  left: 73.31%;
  display: inline-block;
}
.b1,
.b2,
.wrapper {
  position: absolute;
}
.b2 {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: inline-block;
}
.wrapper {
  height: 4.97%;
  width: 17.3%;
  top: 86.39%;
  right: 9.09%;
  bottom: 8.64%;
  left: 73.61%;
}
.order-00003,
.order-00004 {
  position: absolute;
  width: 48.3%;
  top: 396.57px;
  left: 6.43%;
  display: inline-block;
  height: 58.38px;
}
.order-00003 {
  top: 276.79px;
}
.rectangle-div {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--color-gray-100);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-lightgray-300);
  box-sizing: border-box;
  height: 103.67px;
}
.b3,
.order-00001 {
  position: absolute;
  width: 47.16%;
  top: 37.24px;
  left: 5.86%;
  display: inline-block;
  height: 58.38px;
}
.b3 {
  height: 22.19%;
  width: 16.72%;
  top: 42.44%;
  left: 73.31%;
  font-size: var(--font-size-xl);
  color: var(--color-gray-600);
}
.rectangle-group {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  height: 103.67px;
  cursor: pointer;
}
.order-00002 {
  position: absolute;
  width: 48.02%;
  top: 157.02px;
  left: 5.86%;
  display: inline-block;
  height: 58.38px;
}
.order-00004-parent {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  height: 454.95px;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
}
.rectangle-parent {
  position: absolute;
  width: 23.68%;
  top: 381px;
  right: 55.69%;
  left: 20.63%;
  height: 463px;
  font-size: var(--font-size-xl);
  color: var(--color-gray-600);
}
.list-of-orders {
  position: absolute;
  width: 11.04%;
  top: 318px;
  left: 21.46%;
  font-size: var(--font-size-5xl);
  display: inline-block;
}
.frame-child {
  position: absolute;
  height: 100%;
  width: 101.11%;
  top: 0;
  right: -1.11%;
  bottom: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--color-gray-100);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.frame-item {
  position: absolute;
  top: 647px;
  right: 157.65px;
  border-radius: var(--br-3xs);
  background-color: var(--color-gray-300);
  border: 1px solid var(--color-red-300);
  box-sizing: border-box;
  width: 121.25px;
  height: 62.56px;
}
.order-info {
  position: absolute;
  width: 20.69%;
  top: 23.39px;
  left: 2.07%;
  font-size: var(--font-size-5xl);
  display: inline-block;
  height: 32.75px;
}
.frame-inner {
  position: absolute;
  top: 647px;
  right: 13.25px;
  border-radius: var(--br-3xs);
  background-color: var(--color-gray-700);
  width: 121.25px;
  height: 62.56px;
}
.accept-order,
.cancel-order {
  position: absolute;
  top: 667px;
  right: 25.26px;
  display: inline-block;
  color: var(--color-white);
  width: 97.6px;
  height: 21px;
}
.cancel-order {
  right: 169.4px;
  color: var(--color-red-200);
}
.rectangle-container {
  position: absolute;
  height: calc(100% - 298px);
  width: 49.93%;
  top: 298px;
  right: 0.76%;
  bottom: 0;
  left: 49.31%;
}
.customer-name {
  position: absolute;
  width: 17.32%;
  top: 17.76px;
  left: 75.75%;
  display: inline-block;
  height: 19.98px;
}
.line-div {
  position: absolute;
  width: 0.15%;
  top: 0.61px;
  right: 27.03%;
  left: 72.82%;
  border-right: 1px solid var(--color-lightgray-100);
  box-sizing: border-box;
  height: 98.68px;
}
.address {
  position: absolute;
  width: 8.89%;
  top: 17.76px;
  left: 48.64%;
  display: inline-block;
  height: 19.98px;
}
.frame-child1 {
  position: absolute;
  width: 0.15%;
  top: 0.61px;
  right: 54.14%;
  left: 45.71%;
  border-right: 1px solid var(--color-lightgray-100);
  box-sizing: border-box;
  height: 98.68px;
}
.email,
.order-no {
  position: absolute;
  width: 5.72%;
  top: 17.76px;
  left: 24.85%;
  display: inline-block;
  height: 19.98px;
}
.order-no {
  width: 10.39%;
  left: 3.01%;
}
.frame-child2 {
  position: absolute;
  width: 0.15%;
  top: 0.61px;
  right: 77.94%;
  left: 21.91%;
  border-right: 1px solid var(--color-lightgray-100);
  box-sizing: border-box;
  height: 98.68px;
}
.customer-name-parent,
.frame-wrapper {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
}
.customer-name-parent {
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-lightgray-200);
  box-sizing: border-box;
  height: 107px;
}
.frame-wrapper {
  height: 100%;
  bottom: 0;
}
.orders-list-admin-inner {
  position: absolute;
  height: calc(100% - 917px);
  width: 46.11%;
  top: 381px;
  right: 1.94%;
  bottom: 536px;
  left: 51.94%;
  color: var(--color-dimgray);
}
.manage-orders {
  position: absolute;
  width: 18.96%;
  top: 94px;
  left: 21.46%;
  font-size: var(--font-size-11xl);
  display: inline-block;
}
.frame-child3,
.frame-child4 {
  position: absolute;
  left: 0;
  border-radius: var(--br-8xs);
}
.frame-child3 {
  width: 100%;
  top: 1px;
  right: 0;
  background-color: var(--color-gray-100);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  height: 79px;
}
.frame-child4 {
  width: 24.56%;
  top: 0;
  right: 75.44%;
  background-color: var(--color-yellowgreen);
  height: 80px;
}
.complete {
  width: 12.74%;
  top: 32px;
  left: 82.32%;
  cursor: pointer;
}
.complete,
.delivery,
.new,
.preparing {
  position: absolute;
  display: inline-block;
  height: 24px;
}
.preparing {
  width: 13.19%;
  top: 31px;
  left: 30.51%;
  cursor: pointer;
}
.delivery,
.new {
  width: 5.24%;
  top: 29px;
  left: 9.66%;
}
.delivery {
  width: 11.1%;
  top: 32px;
  left: 56.32%;
  cursor: pointer;
}
.frame-div {
  position: absolute;
  width: 67.57%;
  top: 191px;
  right: 0.69%;
  left: 31.74%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  height: 80px;
  font-size: var(--font-size-lgi);
}
.orders-list-admin {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--color-black);
  font-family: var(--font-inter);
}
