.mdigraph-box1 {
  position: absolute;
  top: 601px;
  left: 27px;
  width: 33px;
  height: 24.48px;
  overflow: hidden;
}
.orders-list-admin-child {
  position: absolute;
  top: 66px;
  left: 275px;
  background-color: var(--color-whitesmoke);
  width: 1165px;
  height: 958px;
}
.group-child54,
.group-child55,
.group-child56,
.orders-list-admin-item {
  position: absolute;
  border-radius: var(--br-8xs);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.orders-list-admin-item {
  top: 298px;
  left: calc(50% - 435px);
  background-color: var(--color-gray-200);
  width: 417px;
  height: 726px;
}
.group-child54,
.group-child55,
.group-child56 {
  width: 100%;
  top: 359.33px;
  right: 0;
  left: 0;
  background-color: var(--color-gray-300);
  height: 103.67px;
}
.group-child55,
.group-child56 {
  top: 239.55px;
}
.group-child56 {
  top: 119.78px;
}
.b19,
.b20 {
  width: 100%;
  left: 0;
  display: inline-block;
  height: 48.31px;
}
.b19 {
  position: absolute;
  top: 231.5px;
}
.b20 {
  top: 111.72px;
}
.b20,
.b21,
.container {
  position: absolute;
}
.b21 {
  width: 100%;
  top: 0;
  left: 0;
  display: inline-block;
  height: 48.31px;
}
.container {
  width: 19.61%;
  top: 172.12px;
  right: 3.85%;
  left: 76.54%;
  height: 279.81px;
}
.order-000035,
.order-000045 {
  position: absolute;
  width: 48.3%;
  top: 396.57px;
  left: 6.43%;
  display: inline-block;
  height: 58.38px;
}
.order-000035 {
  top: 276.79px;
}
.group-child57 {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--color-gray-300);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-lightgray-300);
  box-sizing: border-box;
  height: 103.67px;
}
.b22,
.order-000015 {
  position: absolute;
  width: 19.65%;
  top: 40px;
  left: 76.54%;
  display: inline-block;
  height: 49px;
}
.order-000015 {
  width: 47.16%;
  top: 37.24px;
  left: 5.86%;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  height: 58.38px;
}
.rectangle-parent53 {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  height: 103.67px;
  cursor: pointer;
  font-size: var(--font-size-xl);
  color: var(--color-gray-500);
}
.order-000025 {
  position: absolute;
  width: 48.02%;
  top: 157.02px;
  left: 5.86%;
  display: inline-block;
  height: 58.38px;
}
.order-00004-group {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  height: 454.95px;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
}
.rectangle-parent52 {
  position: absolute;
  width: 23.68%;
  top: 381px;
  right: 55.69%;
  left: 20.63%;
  height: 463px;
  font-size: var(--font-size-xl);
  color: var(--color-gray-500);
}
.list-of-orders1,
.manage-orders5 {
  position: absolute;
  width: 11.04%;
  top: 318px;
  left: 21.46%;
  display: inline-block;
}
.manage-orders5 {
  width: 18.89%;
  top: 94px;
  font-size: var(--font-size-17xl);
}
.frame-child25,
.frame-child26 {
  position: absolute;
  left: 0;
  border-radius: var(--br-8xs);
  height: 92px;
}
.frame-child25 {
  width: 100%;
  top: 1px;
  right: 0;
  background-color: var(--color-gray-300);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.frame-child26 {
  width: 24.56%;
  top: 0;
  right: 75.44%;
  background-color: var(--color-lavender);
}
.complete9 {
  position: absolute;
  width: 10.46%;
  top: 30px;
  left: 77.1%;
  display: inline-block;
  height: 24px;
  cursor: pointer;
}
.frame-child27 {
  position: absolute;
  width: 0.09%;
  top: 1px;
  right: 23.58%;
  left: 76.33%;
  max-width: 100%;
  overflow: hidden;
  height: 61px;
}
.delivery5,
.new5,
.preparing5 {
  position: absolute;
  display: inline-block;
  height: 24px;
}
.preparing5 {
  width: 13.19%;
  top: 31px;
  left: 30.51%;
  cursor: pointer;
}
.delivery5,
.new5 {
  width: 5.32%;
  top: 34px;
  left: 9.66%;
}
.delivery5 {
  width: 9.26%;
  top: 32px;
  left: 56.29%;
  cursor: pointer;
}
.frame-child28,
.frame-child29 {
  position: absolute;
  width: 0.09%;
  top: 1px;
  max-width: 100%;
  overflow: hidden;
  height: 61px;
}
.frame-child28 {
  right: 75.78%;
  left: 24.13%;
  border-radius: var(--br-8xs);
}
.frame-child29 {
  right: 49.96%;
  left: 49.96%;
}
.frame-child30,
.rectangle-parent54 {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.rectangle-parent54 {
  position: absolute;
  width: 79.44%;
  top: 182px;
  right: 0.69%;
  left: 19.86%;
  height: 92px;
}
.frame-child30 {
  position: relative;
  border-radius: var(--br-8xs);
  background-color: var(--color-gray-300);
  width: 719px;
  height: 726px;
  z-index: 0;
}
.frame-child31 {
  top: 647px;
  right: 157.65px;
  border-radius: var(--br-3xs);
  background-color: var(--color-gray-100);
  border: 1px solid var(--color-red-200);
  box-sizing: border-box;
  width: 121.25px;
  height: 62.56px;
  z-index: 1;
}
.frame-child31,
.frame-child32,
.order-info2 {
  position: absolute;
  margin: 0 !important;
}
.order-info2 {
  width: 20.69%;
  top: 23.39px;
  left: 2.07%;
  font-size: var(--font-size-5xl);
  display: inline-block;
  height: 32.75px;
  z-index: 2;
}
.frame-child32 {
  top: 647px;
  right: 13.25px;
  border-radius: var(--br-3xs);
  background-color: var(--color-gray-600);
  width: 121.25px;
  height: 62.56px;
  z-index: 3;
}
.accept-order1,
.cancel-order1 {
  position: absolute;
  margin: 0 !important;
  top: 667px;
  display: inline-block;
}
.accept-order1 {
  right: 25.26px;
  color: var(--color-white);
  width: 97.6px;
  height: 21px;
  flex-shrink: 0;
  z-index: 4;
}
.cancel-order1 {
  align-self: stretch;
  flex: 1;
  right: 169.4px;
  color: var(--color-red-100);
  z-index: 5;
}
.rectangle-parent55 {
  position: absolute;
  width: 49.93%;
  top: 298px;
  right: 0.76%;
  left: 49.31%;
  height: 726px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  font-size: var(--font-size-mini);
}
.group-child58 {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-lightgray-100);
  box-sizing: border-box;
  height: 98.79px;
}
.customer-name2 {
  position: absolute;
  width: 17.32%;
  top: 17.76px;
  left: 75.75%;
  display: inline-block;
  height: 19.98px;
}
.group-child59 {
  position: absolute;
  width: 0.15%;
  top: 0.61px;
  right: 27.03%;
  left: 72.82%;
  border-right: 1px solid var(--color-lightgray-200);
  box-sizing: border-box;
  height: 98.68px;
}
.address2 {
  position: absolute;
  width: 8.89%;
  top: 17.76px;
  left: 48.64%;
  display: inline-block;
  height: 19.98px;
}
.group-child60 {
  position: absolute;
  width: 0.15%;
  top: 0.61px;
  right: 54.14%;
  left: 45.71%;
  border-right: 1px solid var(--color-lightgray-200);
  box-sizing: border-box;
  height: 98.68px;
}
.email2,
.order-no2 {
  position: absolute;
  width: 5.72%;
  top: 17.76px;
  left: 24.85%;
  display: inline-block;
  height: 19.98px;
}
.order-no2 {
  width: 10.39%;
  left: 3.01%;
}
.group-child61 {
  position: absolute;
  width: 0.15%;
  top: 0.61px;
  right: 77.94%;
  left: 21.91%;
  border-right: 1px solid var(--color-lightgray-200);
  box-sizing: border-box;
  height: 98.68px;
}
.rectangle-parent56 {
  position: absolute;
  width: 46.11%;
  top: 381px;
  right: 2.5%;
  left: 51.39%;
  height: 98.79px;
  font-size: var(--font-size-mini);
  color: var(--color-dimgray);
}
.orders-list-admin {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
