.group-child10,
.orders-delivery-admin-child {
  position: absolute;
  border-radius: var(--br-8xs);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.orders-delivery-admin-child {
  height: calc(100% - 290px);
  width: 79.44%;
  top: 291px;
  right: 0.69%;
  bottom: -1px;
  left: 19.86%;
  background-color: var(--color-white);
}
.group-child10 {
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  background-color: var(--color-gray-100);
  border: 1px solid var(--color-lightgray-400);
  box-sizing: border-box;
  height: 103px;
}
.b4 {
  position: absolute;
  height: 4.87%;
  width: 7.08%;
  top: 9.53%;
  left: 46.6%;
  display: inline-block;
  color: var(--color-gray-600);
}
.group-child11 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-gray-700);
}
.complete2 {
  position: absolute;
  width: 60.04%;
  top: 12px;
  left: 22.64%;
  display: inline-block;
}
.rectangle-parent11 {
  position: absolute;
  height: calc(100% - 432px);
  width: 10.14%;
  top: 37px;
  right: 0.86%;
  bottom: 395px;
  left: 89%;
  text-align: center;
  font-size: var(--font-size-3xs);
  color: var(--color-white);
}
.order-000012 {
  position: absolute;
  width: 39.37%;
  top: 45px;
  left: 4.88%;
  display: inline-block;
}
.group-child12 {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--color-gray-100);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-silver);
  box-sizing: border-box;
  height: 103px;
}
.order-000042 {
  position: absolute;
  width: 39.37%;
  top: 45px;
  left: 4.88%;
  display: inline-block;
  -webkit-text-stroke: 1px #c8c5c5;
}
.rectangle-parent13 {
  position: absolute;
  height: calc(100% - 63px);
  width: 10.14%;
  top: 34px;
  right: 0.86%;
  bottom: 29px;
  left: 89%;
  text-align: center;
  font-size: var(--font-size-3xs);
  color: var(--color-white);
}
.b5 {
  position: absolute;
  height: 22.33%;
  width: 7.08%;
  top: 43.69%;
  left: 46.6%;
  display: inline-block;
  color: var(--color-gray-600);
}
.rectangle-parent12 {
  position: absolute;
  width: 100%;
  top: 369px;
  right: 0;
  left: 0;
  height: 103px;
}
.rectangle-parent10 {
  position: absolute;
  width: 72.57%;
  top: 322px;
  right: 5.83%;
  left: 21.6%;
  height: 472px;
}
.manage-orders2 {
  position: absolute;
  width: 18.89%;
  top: 94px;
  left: 21.46%;
  font-size: var(--font-size-17xl);
  display: inline-block;
}
.rectangle-parent15 {
  position: absolute;
  height: calc(100% - 63px);
  width: 10.14%;
  top: 34px;
  right: 0.86%;
  bottom: 29px;
  left: 89%;
  text-align: center;
  font-size: var(--font-size-3xs);
}
.order-000022 {
  position: absolute;
  width: 39.37%;
  top: 45px;
  left: 4.88%;
  color: var(--color-black);
  display: inline-block;
  -webkit-text-stroke: 1px #c8c5c5;
}
.rectangle-parent14 {
  position: absolute;
  width: 72.57%;
  top: 445px;
  right: 5.83%;
  left: 21.6%;
  height: 103px;
  color: var(--color-white);
}
.order-000032 {
  position: absolute;
  width: 39.37%;
  top: 45px;
  left: 4.98%;
  color: var(--color-black);
  display: inline-block;
  -webkit-text-stroke: 1px #c8c5c5;
}
.rectangle-parent16 {
  position: absolute;
  width: 72.57%;
  top: 568px;
  right: 5.83%;
  left: 21.6%;
  height: 103px;
  color: var(--color-white);
}
.frame-child7,
.frame-child8 {
  position: absolute;
  border-radius: var(--br-8xs);
}
.frame-child7 {
  width: 100%;
  top: 1px;
  right: 0;
  left: 0;
  background-color: var(--color-gray-100);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  height: 79px;
}
.frame-child8 {
  width: 24.56%;
  top: 0;
  right: 26.82%;
  left: 48.61%;
  background-color: var(--color-yellowgreen);
  height: 80px;
}
.complete6 {
  position: absolute;
  width: 12.74%;
  top: 32px;
  left: 82.32%;
  display: inline-block;
  height: 24px;
  cursor: pointer;
}
.preparing2 {
  width: 13.19%;
  top: 31px;
  left: 30.51%;
  cursor: pointer;
}
.delivery2,
.new2,
.preparing2 {
  position: absolute;
  display: inline-block;
  height: 24px;
}
.new2 {
  width: 5.24%;
  top: 29px;
  left: 9.66%;
  cursor: pointer;
}
.delivery2 {
  width: 11.1%;
  top: 32px;
  left: 56.32%;
}
.rectangle-parent18 {
  position: absolute;
  width: 67.57%;
  top: 191px;
  right: 0.69%;
  left: 31.74%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  height: 80px;
  font-size: var(--font-size-lgi);
}
.orders-delivery-admin {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
